
.price {
    display: inline;
    padding: 5px;
    margin: 5px;
    background-color: lightgreen;
    color: black;
    border: none;
    border-radius: 5px;
    line-height: 2em;
}

.description {
    color: gray;
    font-style: italic;
}

#total-cost {
    display: inline;
    padding: 5px;
    margin: 5px;
    background-color: lightgreen;
    color: black;
    border: none;
    border-radius: 5px;
    line-height: 2em;  
}

.jumbotron {
    background-color: gray;
}