
.price {
    display: inline;
    padding: 5px;
    margin: 5px;
    background-color: lightgreen;
    color: black;
    border: none;
    border-radius: 5px;
    line-height: 2em;
}

.description {
    color: gray;
    font-style: italic;
}

#total-cost {
    display: inline;
    padding: 5px;
    margin: 5px;
    background-color: lightgreen;
    color: black;
    border: none;
    border-radius: 5px;
    line-height: 2em;  
}

.splash {
    background-color: gray;
    background-image: url('/images/splash.jpg');
    height: 400px;
    background-attachment: fixed;
    background-size: cover;
    background-position-y: center;
    margin: 0 auto 20px;
    padding: 40px;
}