
.price {
    display: inline;
    padding: 3px;
    margin: 5px;
    background-color: lightgreen;
    color: black;
    border: none;
    border-radius: 5px;
    line-height: 2em;
}

.description {
    color: gray;
    font-style: italic;
}

#total-cost {
    display: inline;
    padding: 5px;
    margin: 5px;
    background-color: lightgreen;
    color: black;
    border: none;
    border-radius: 5px;
    line-height: 2em;  
}

.splash {
    background: linear-gradient(rgba(0,0,0,0.5),rgba(255,255,255,0.5)), url('/images/splash.jpg');
    height: 400px;
    background-attachment: fixed;
    background-size: cover;
    background-position-y: center;
    margin: 0 auto 20px;
    padding: 40px;
}
/* 
.features {
    margin: 50px auto auto auto auto;
} */

#header-container{
    margin: 80px auto auto auto;
}

div {
    /* border: 1px solid black; */
}

.col {
    /* border: 1px dashed red; */
}

